$Social-Icons: (
        facebook: \e14a,
        facebook-square: \e900,
        facebook-2: \e14b,
        facebook-3: \e227,
        facebook-circle: \e14c,
        google: \e145,
        google-square: \e901,
        google-2: \e90c,
        google-3: \e229,
        google-circle: \e90d,
        twitter: \e14e,
        twitter-square: \e902,
        twitter-sq: \e228,
        twitter-2: \e067,
        twitter-circle: \e14f,
        twitter-alt: \e06a,
        twitter-alt-square: \e903,
        pinterest: \e904,
        pinterest-square: \e905,
        pinterest-2: \e193,
        pinterest-circle: \e192,
        instagram: \e14d,
        instagram-square: \e906,
        instagram-square2: \e90e,
        soundcloud: \e182,
        soundcloud-square: \e907,
        soundcloud-2: \e183,
        soundcloud-circle: \e90f,
        youtube: \e09a,
        youtube-square: \e909,
        youtube-circle: \e910,
        linkedin-square: \e90a,
        linkedin: \e18b,
        linkedin-circle: \e911,
        vine: \e912,
        vine-2: \e913,
        vine-circle: \e914,
        rss: \e150,
        rss-2: \e151,
        rss-cirlce: \e152,
        vimeo: \e156,
        vimeo-2: \e157,
        vimeo-circle: \e159,
        github: \e15f,
        github-circle: \e15e,
        flickr: \e16e,
        flickr-2: \e16d,
        flickr-circle: \e16c,
        dropbox: \e076,
        dropbox-square: \e908,
        reddit: \e18a,
        linux: \e17c,
        apple: \e17d,
        android: \e17e,
        finder: \e180,
        windows: \e181,
        google-drive: \e149,
        amazon-square: \e90b
);